.modal-body
    .list-group
        a.list-group-item.list-group-item-action(
            *ngFor='let item of items; let i = index', 
            (click)='modalInstance.close(item)'
        ) 
            strong.mr-2(*ngIf='i < 10') {{i}}
            span {{item.name}}
